<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add More BOoks</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-xs-7">
                <a href="{% url 'home_page' %}">Home</a>
                <br>

                <!-- add category text field  -->
                <form method="post">
                    {% csrf_token %}
                    <input type="text" id="add_category_text" maxlength="20" name="cat_name_add" required="">
                    <button class="btn btn-success btn-sm edit btn-flat"><i class="fa fa-plus"></i> Add
                        Category</button>
                    </a>
                </form>



            </div>
        </div>
    </div>


    <div class="container mt-5">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-body">
                        <table id="example1" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Category Name</th>
                                    <th>Action</th>


                                </tr>
                            </thead>
                            <tbody>
                                {% for category in cat_name %}
                                <form method="post">
                                    {% csrf_token %}
                                    <tr>
                                        <input type="number" name="cat_id" hidden value="{{ category.id }}">
                                        <input type="text" name="cat_name" hidden value="{{ category.cat_name }}">
                                        <td>{{ category.cat_name }}</td>

                                        <td><button type="submit" class="btn btn-success btn-sm edit btn-flat"><i
                                                    class="fa fa-edit"></i>
                                                Edit</button>
                                            <!-- <button class='btn btn-danger btn-sm delete btn-flat'><i class='fa fa-trash'></i> Delete</button> -->
                                            <button type="submit" class="btn btn-danger btn-sm edit btn-flat"><i
                                                class="fa fa-edit"></i>
                                            Delete</button>
                                        </td>
                                    </tr>
                                </form>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>